masonry-tile:not(.oj-complete),
masonry-tile:not(.tile-loaded) {
  background-image: url("spinner_full.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  
}
masonry-tile {
  font-weight: bold;
}
masonry-tile:not(.oj-complete) > .tile-content,
masonry-tile:not(.tile-loaded) > .tile-content {
  display: none;
}
.oj-masonrylayout-tile-1x1 {
  margin: 5px;
  width: 150px;
  height: 150px; }

.oj-masonrylayout-tile-1x2 {
  margin: 5px;
  width: 150px;
  height: 310px; }

.oj-masonrylayout-tile-1x3 {
  margin: 5px;
  width: 150px;
  height: 470px; }

.oj-masonrylayout-tile-1x4 {
  margin: 5px;
  width: 150px;
  height: 630px; }

.oj-masonrylayout-tile-2x1 {
  margin: 5px;
  width: 310px;
  height: 150px; }

.oj-masonrylayout-tile-2x2 {
  margin: 5px;
  width: 310px;
  height: 310px; }

.oj-masonrylayout-tile-2x3 {
  margin: 5px;
  width: 310px;
  height: 470px; }

.oj-masonrylayout-tile-2x4 {
  margin: 5px;
  width: 310px;
  height: 630px; }

.oj-masonrylayout-tile-3x1 {
  margin: 5px;
  width: 470px;
  height: 150px; }

.oj-masonrylayout-tile-3x2 {
  margin: 5px;
  width: 470px;
  height: 310px; }

.oj-masonrylayout-tile-3x3 {
  margin: 5px;
  width: 470px;
  height: 470px; }

.oj-masonrylayout-tile-3x4 {
  margin: 5px;
  width: 470px;
  height: 630px; }

.oj-masonrylayout-tile-4x1 {
  margin: 5px;
  width: 630px;
  height: 150px; }

.oj-masonrylayout-tile-4x2 {
  margin: 5px;
  width: 630px;
  height: 310px; }

.oj-masonrylayout-tile-4x3 {
  margin: 5px;
  width: 630px;
  height: 470px; }

.oj-masonrylayout-tile-4x4 {
  margin: 5px;
  width: 630px;
  height: 630px; }

.oj-masonrylayout-tile-pie {
  margin: 5px;
  width: 680px;
  height: 450px;
}
.oj-masonrylayout-tile-line, .oj-masonrylayout-tile-bar {
  margin: 5px;
  width: 680px;
  height: 225px;
}

.demo-custom-tile-sizes-1 .oj-masonrylayout-tile-1x1 {
  margin: 10px;
  width: 174px;
  height: 174px; }

.demo-custom-tile-sizes-1 .oj-masonrylayout-tile-1x2 {
  margin: 10px;
  width: 174px;
  height: 368px; }

.demo-custom-tile-sizes-1 .oj-masonrylayout-tile-1x3 {
  margin: 10px;
  width: 174px;
  height: 562px; }

.demo-custom-tile-sizes-1 .oj-masonrylayout-tile-1x4 {
  margin: 10px;
  width: 174px;
  height: 756px; }

.demo-custom-tile-sizes-1 .oj-masonrylayout-tile-2x1 {
  margin: 10px;
  width: 368px;
  height: 174px; }

.demo-custom-tile-sizes-1 .oj-masonrylayout-tile-2x2 {
  margin: 10px;
  width: 368px;
  height: 368px; }

.demo-custom-tile-sizes-1 .oj-masonrylayout-tile-2x3 {
  margin: 10px;
  width: 368px;
  height: 562px; }

.demo-custom-tile-sizes-1 .oj-masonrylayout-tile-2x4 {
  margin: 10px;
  width: 368px;
  height: 756px; }

.demo-custom-tile-sizes-1 .oj-masonrylayout-tile-3x1 {
  margin: 10px;
  width: 562px;
  height: 174px; }

.demo-custom-tile-sizes-1 .oj-masonrylayout-tile-3x2 {
  margin: 10px;
  width: 562px;
  height: 368px; }

.demo-custom-tile-sizes-1 .oj-masonrylayout-tile-3x3 {
  margin: 10px;
  width: 562px;
  height: 562px; }

.demo-custom-tile-sizes-1 .oj-masonrylayout-tile-3x4 {
  margin: 10px;
  width: 562px;
  height: 756px; }

.demo-custom-tile-sizes-1 .oj-masonrylayout-tile-4x1 {
  margin: 10px;
  width: 756px;
  height: 174px; }

.demo-custom-tile-sizes-1 .oj-masonrylayout-tile-4x2 {
  margin: 10px;
  width: 756px;
  height: 368px; }

.demo-custom-tile-sizes-1 .oj-masonrylayout-tile-4x3 {
  margin: 10px;
  width: 756px;
  height: 562px; }

.demo-custom-tile-sizes-1 .oj-masonrylayout-tile-4x4 {
  margin: 10px;
  width: 756px;
  height: 756px; }

.demo-custom-tile-sizes-2 .oj-masonrylayout-tile-1x1 {
  margin: 3px;
  width: 125px;
  height: 75px; }

.demo-custom-tile-sizes-2 .oj-masonrylayout-tile-1x2 {
  margin: 3px;
  width: 125px;
  height: 156px; }

.demo-custom-tile-sizes-2 .oj-masonrylayout-tile-1x3 {
  margin: 3px;
  width: 125px;
  height: 237px; }

.demo-custom-tile-sizes-2 .oj-masonrylayout-tile-1x4 {
  margin: 3px;
  width: 125px;
  height: 318px; }

.demo-custom-tile-sizes-2 .oj-masonrylayout-tile-2x1 {
  margin: 3px;
  width: 256px;
  height: 75px; }

.demo-custom-tile-sizes-2 .oj-masonrylayout-tile-2x2 {
  margin: 3px;
  width: 256px;
  height: 156px; }

.demo-custom-tile-sizes-2 .oj-masonrylayout-tile-2x3 {
  margin: 3px;
  width: 256px;
  height: 237px; }

.demo-custom-tile-sizes-2 .oj-masonrylayout-tile-2x4 {
  margin: 3px;
  width: 256px;
  height: 318px; }

.demo-custom-tile-sizes-2 .oj-masonrylayout-tile-3x1 {
  margin: 3px;
  width: 387px;
  height: 75px; }

.demo-custom-tile-sizes-2 .oj-masonrylayout-tile-3x2 {
  margin: 3px;
  width: 387px;
  height: 156px; }

.demo-custom-tile-sizes-2 .oj-masonrylayout-tile-3x3 {
  margin: 3px;
  width: 387px;
  height: 237px; }

.demo-custom-tile-sizes-2 .oj-masonrylayout-tile-3x4 {
  margin: 3px;
  width: 387px;
  height: 318px; }

.demo-custom-tile-sizes-2 .oj-masonrylayout-tile-4x1 {
  margin: 3px;
  width: 518px;
  height: 75px; }

.demo-custom-tile-sizes-2 .oj-masonrylayout-tile-4x2 {
  margin: 3px;
  width: 518px;
  height: 156px; }

.demo-custom-tile-sizes-2 .oj-masonrylayout-tile-4x3 {
  margin: 3px;
  width: 518px;
  height: 237px; }

.demo-custom-tile-sizes-2 .oj-masonrylayout-tile-4x4 {
  margin: 3px;
  width: 518px;
  height: 318px; }

.demo-custom-tile-sizes-3 .oj-masonrylayout-tile-1x1 {
  margin: 3px;
  width: 100px;
  height: 125px; }

.demo-custom-tile-sizes-3 .oj-masonrylayout-tile-1x2 {
  margin: 3px;
  width: 100px;
  height: 256px; }

.demo-custom-tile-sizes-3 .oj-masonrylayout-tile-1x3 {
  margin: 3px;
  width: 100px;
  height: 387px; }

.demo-custom-tile-sizes-3 .oj-masonrylayout-tile-1x4 {
  margin: 3px;
  width: 100px;
  height: 518px; }

.demo-custom-tile-sizes-3 .oj-masonrylayout-tile-2x1 {
  margin: 3px;
  width: 206px;
  height: 125px; }

.demo-custom-tile-sizes-3 .oj-masonrylayout-tile-2x2 {
  margin: 3px;
  width: 206px;
  height: 256px; }

.demo-custom-tile-sizes-3 .oj-masonrylayout-tile-2x3 {
  margin: 3px;
  width: 206px;
  height: 387px; }

.demo-custom-tile-sizes-3 .oj-masonrylayout-tile-2x4 {
  margin: 3px;
  width: 206px;
  height: 518px; }

.demo-custom-tile-sizes-3 .oj-masonrylayout-tile-3x1 {
  margin: 3px;
  width: 312px;
  height: 125px; }

.demo-custom-tile-sizes-3 .oj-masonrylayout-tile-3x2 {
  margin: 3px;
  width: 312px;
  height: 256px; }

.demo-custom-tile-sizes-3 .oj-masonrylayout-tile-3x3 {
  margin: 3px;
  width: 312px;
  height: 387px; }

.demo-custom-tile-sizes-3 .oj-masonrylayout-tile-3x4 {
  margin: 3px;
  width: 312px;
  height: 518px; }

.demo-custom-tile-sizes-3 .oj-masonrylayout-tile-4x1 {
  margin: 3px;
  width: 418px;
  height: 125px; }

.demo-custom-tile-sizes-3 .oj-masonrylayout-tile-4x2 {
  margin: 3px;
  width: 418px;
  height: 256px; }

.demo-custom-tile-sizes-3 .oj-masonrylayout-tile-4x3 {
  margin: 3px;
  width: 418px;
  height: 387px; }

.demo-custom-tile-sizes-3 .oj-masonrylayout-tile-4x4 {
  margin: 3px;
  width: 418px;
  height: 518px; }

/****** centering *********/
/* In order to center masonry layout the width needs 
   to be restricted to a multiple of the column width
   (the actual tile width plus the margins). */
/* Allow for a maximum of nine columns. */
@media (min-width: 180px) {
  .demo-masonry-layout {
    width: 160px; } }

@media (min-width: 214px) {
  .demo-masonry-layout.demo-custom-tile-sizes-1 {
    width: 194px; } }

@media (min-width: 151px) {
  .demo-masonry-layout.demo-custom-tile-sizes-2 {
    width: 131px; } }

@media (min-width: 126px) {
  .demo-masonry-layout.demo-custom-tile-sizes-3 {
    width: 106px; } }

@media (min-width: 340px) {
  .demo-masonry-layout {
    width: 320px; } }

@media (min-width: 408px) {
  .demo-masonry-layout.demo-custom-tile-sizes-1 {
    width: 388px; } }

@media (min-width: 282px) {
  .demo-masonry-layout.demo-custom-tile-sizes-2 {
    width: 262px; } }

@media (min-width: 232px) {
  .demo-masonry-layout.demo-custom-tile-sizes-3 {
    width: 212px; } }

@media (min-width: 500px) {
  .demo-masonry-layout {
    width: 480px; } }

@media (min-width: 602px) {
  .demo-masonry-layout.demo-custom-tile-sizes-1 {
    width: 582px; } }

@media (min-width: 413px) {
  .demo-masonry-layout.demo-custom-tile-sizes-2 {
    width: 393px; } }

@media (min-width: 338px) {
  .demo-masonry-layout.demo-custom-tile-sizes-3 {
    width: 318px; } }

@media (min-width: 660px) {
  .demo-masonry-layout {
    width: 640px; } }

@media (min-width: 796px) {
  .demo-masonry-layout.demo-custom-tile-sizes-1 {
    width: 776px; } }

@media (min-width: 544px) {
  .demo-masonry-layout.demo-custom-tile-sizes-2 {
    width: 524px; } }

@media (min-width: 444px) {
  .demo-masonry-layout.demo-custom-tile-sizes-3 {
    width: 424px; } }

@media (min-width: 820px) {
  .demo-masonry-layout {
    width: 800px; } }

@media (min-width: 990px) {
  .demo-masonry-layout.demo-custom-tile-sizes-1 {
    width: 970px; } }

@media (min-width: 675px) {
  .demo-masonry-layout.demo-custom-tile-sizes-2 {
    width: 655px; } }

@media (min-width: 550px) {
  .demo-masonry-layout.demo-custom-tile-sizes-3 {
    width: 530px; } }

@media (min-width: 980px) {
  .demo-masonry-layout {
    width: 960px; } }

@media (min-width: 1184px) {
  .demo-masonry-layout.demo-custom-tile-sizes-1 {
    width: 1164px; } }

@media (min-width: 806px) {
  .demo-masonry-layout.demo-custom-tile-sizes-2 {
    width: 786px; } }

@media (min-width: 656px) {
  .demo-masonry-layout.demo-custom-tile-sizes-3 {
    width: 636px; } }

@media (min-width: 1140px) {
  .demo-masonry-layout {
    width: 1120px; } }

@media (min-width: 1378px) {
  .demo-masonry-layout.demo-custom-tile-sizes-1 {
    width: 1358px; } }

@media (min-width: 937px) {
  .demo-masonry-layout.demo-custom-tile-sizes-2 {
    width: 917px; } }

@media (min-width: 762px) {
  .demo-masonry-layout.demo-custom-tile-sizes-3 {
    width: 742px; } }

@media (min-width: 1300px) {
  .demo-masonry-layout {
    width: 1280px; } }

@media (min-width: 1572px) {
  .demo-masonry-layout.demo-custom-tile-sizes-1 {
    width: 1552px; } }

@media (min-width: 1068px) {
  .demo-masonry-layout.demo-custom-tile-sizes-2 {
    width: 1048px; } }

@media (min-width: 868px) {
  .demo-masonry-layout.demo-custom-tile-sizes-3 {
    width: 848px; } }

@media (min-width: 1460px) {
  .demo-masonry-layout {
    width: 1440px; } }

@media (min-width: 1766px) {
  .demo-masonry-layout.demo-custom-tile-sizes-1 {
    width: 1746px; } }

@media (min-width: 1199px) {
  .demo-masonry-layout.demo-custom-tile-sizes-2 {
    width: 1179px; } }

@media (min-width: 974px) {
  .demo-masonry-layout.demo-custom-tile-sizes-3 {
    width: 954px; } }