<div id="container" class="oj-offcanvas-outer-wrapper" >
    <div class="page-title"><h3 class="white-color" data-bind="text:header"></h3></div>
    <div class="page-content oj-form-layout oj-sm-only-flex-direction-column oj-lg-flex-items-1 oj-panel oj-margin oj-panel-alt demo-mypanel panel-margin-top">
        <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >
            You are not authorized to access the requested page.
        </div>
        <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >
            <a href="#" onclick="onClickHome()">Return to Home Page</a>
        </div>
        
       
    </div>
</div>